@model IEnumerable<ABKS_project.Models.User>;

    <h2>Users</h2>

    <table class="management-table table mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Education</th>
                <th>Age</th>
                <th>Citizenship Photo</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="managementContent">
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.Education</td>
                    <td>@user.Age</td>
                    <td>
                        <div class="image-container">
                            <img src="~/Images/@user.CitizenshipPhoto" alt="Citizenship Photo" width="100" height="100" class="citizenship-photo">
                            <div class="image-preview">
                                <img src="~/Images/@user.CitizenshipPhoto" alt="Citizenship Photo">
                            </div>
                        </div>
                    </td>
                    <td class="d-flex gap-2">
                        <button type="button" class="btn btn-sm btn-primary btn-management" data-bs-toggle="modal" data-bs-target="#editModal_@user.UserId">Edit</button>
                        <button type="button" class="btn btn-sm btn-danger btn-management" data-bs-toggle="modal" data-bs-target="#deleteModal_@user.UserId">Delete</button>
                        <div class="modal fade" id="deleteModal_@user.UserId" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p><b>Delete User: </b><i>@user.Email</i><b>?</b></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <form asp-area="Admin" asp-action="DeleteUser" asp-controller="Home" method="post">
                                            <input type="hidden" name="userId" value="@user.UserId" />
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            $('.citizenship-photo').hover(function () {
                var preview = $(this).siblings('.image-preview');
                preview.show();
            }, function () {
                $(this).siblings('.image-preview').hide();
            });
        });

    </script>

